.projet{
    margin: 30px 120px;


    text-align: center;
    h1{
        color: black;
        margin-bottom: 150px;

    }
    .un{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;





    }
    .boxBtn{

        a{
            text-decoration: none;
        }



        width: 250px;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        margin-top: 110px;
        .projetBtn{

            border: 3px solid black;
            color: black;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 15px;

            transition-duration: 0.4s;



        }


    }
    article{
        position: relative;

        height: 510px;
        width: 80vw;
        padding-left: 50px;
        text-align: left;
        .H{
            position: absolute;
            left: 4px;
            width: 99%;
            height: 6px;

            top: 50px;

        }
        .V{
            position: absolute;
            left: -2px;
            top: 0;
        }
        h2, p{
            color: black;


        }
        p{font-size: 20px;margin-bottom: 15px;line-height: 30px;}
        h2{margin-bottom: 70px;}
        .preview{
            width: fit-content;
            margin: 0 auto;
            display: flex;

            img{
                width: 400px;
                height: 250px;
                margin: 20px;
                object-fit: scale-down;


            }
            .heb1{
                height: fit-content;
            }
            .heb2{
                width: 200px !important;
            }

        }

        .smallBoxBtn{
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            a{
                text-decoration: none;
            }

            .projetBtn{
                margin-top: 20px;
                border: 3px solid black;
                color: black;
                padding: 20px;
                border-radius: 10px;

                transition-duration: 0.4s;



            }

        }
    }

}

@media screen and (max-width: 700px) {
    .boxBtn{
        display: none !important;
    }
    .smallBoxBtn{
        display: flex !important;
    }
    .projet{
        article{
            padding-left: 0 !important;
            .V{
                left: -52px !important;
            }
            .H{
                left: -46px;
            }
            .preview{
                flex-direction: column;
                img{
                    width: 250px;
                    height: 125px;

                }

            }
        }
        .un{
            margin-top: 220px;
        }
    }
}

.projetBtn:hover{
    border: 3px solid white !important;
    background-color: black;
    color: white !important;
}
