.projet{
    margin: 30px 120px;
    

    text-align: center;
    h1{
        color: black;
        margin-bottom: 150px;
        
    }
    .un{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;

        

        
        
    }
    .boxBtn{
        
        

        /*tmp*/
        height: 150px;
        width: 250px;
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        margin-top: 110px;
        .projetBtn{
            
            border: 3px solid black;
            color: black;
            padding: 20px;
            border-radius: 10px;
            margin-bottom: 15px;

        }

        
    }
    article{
        position: relative;
        
        height: 510px;
        width: 80vw;
        padding-left: 50px;
        text-align: left;
        .H{
            position: absolute;
            left: 4px;
            width: 99%;
            height: 6px;
            
            top: 50px;

        }
        .V{
            position: absolute;
            left: -2px;
            top: 0;
        }
        h2, p{
            color: black;
            
            
        }
        p{font-size: 20px;margin-bottom: 15px;}
        h2{margin-bottom: 70px;}

        .smallBoxBtn{
            display: none;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            
            .projetBtn{
                margin-top: 20px;
                border: 3px solid black;
                color: black;
                padding: 20px;
                border-radius: 10px;
                
            }
            
        }
    }
    
}

@media screen and (max-width: 700px) {
    .boxBtn{
        display: none !important;
    }
    .smallBoxBtn{
        display: flex !important;
    }
    .projet{
        article{
            padding-left: 0 !important;
            .V{
                left: -52px !important;
            }
            .H{
                left: -46px;
            }
        }
    }
}
