html {
    font-family: 'Catamaran', sans-serif;
}

body {
    color: $primary-color;
}
h1{font-size: 76px;}
h2{font-size: 64px;}
h3{font-size: 50px;}
h4{font-size: 31px;}
h5{font-size: 20px;}
h6{font-size: 13px;}

.pagedeux{
    background-color: #dedede !important;
}