<header id="header" class="test header-unpin">
    <div class="heroSection"><img src="assets/image/linkedinblanc.png" alt="linkedin" style="width: 40px;"> </div>
    
        
    <div class="heroSection centre" id="arrowBtn"> <p id="textBtn"> mes projets</p> <div class="CFleche"id="fleche">&#x2193</div></div>
    
    <div class="heroSection centre"><p id="mail">À propos de moi</p><div class="CFleche" id="aboutArrow">&#x2192</div></div>
    <a href="" class="heroSection"> <img src="assets/image/insta.png" alt="GitHub" style="width: 60px;"> </a>
    
    
    
</header>

