<section class="hero">
    <div>
        <h1>Louis LASSERRE</h1>
        <h2>Etudiant en BUT MMI à Bordeaux, je me  passione pour le dévelopement web ainsi que la 3d.J'ai commencé à m'y intéressé à l'âge de 16 ans grâce notamment aux
            cours sur l'informatique, par la suite j'ai continué à travailler et découvrir les divers languages de dévelopement web comme le Html, le css,js,php dans des projets personnels.
            En parallèle, je travail également depuis mes 15 ans sur la créations de models 3d. <br>
            Je suis passionné d'aéronautique et d'espace... <br>
        </h2>
        <a href="index.html" class="btnMe">En savoir plus</a>
    </div>
</section>