<main>
    
    <h3>Mes projets</h3>
    <section class="listProjets">

        <div> <h4> Développement web </h4></div>

        <ul>
            <li><a href="">Mon premier projet en html, css : site sur les grands nom de l'informatique</a></li>
            <section>
                <a href="https://louislasserrev1.netlify.app/llsite/pageprincipal"><p>accéder au site</p></a>
                <a href="https://louislasserrev1.netlify.app/llsite/style.css"><p>voir le css</p></a>
            </section>

            <li><a href="">Premier test/Version de ce site</a></li>
            <section>
                <a href="https://louislasserrev1.netlify.app/acceuil"><p>accéder au site</p></a>
                <a href="https://github.com/louisLasserre/louisLasserre.github.io"><p>Repository GitHub</p></a>
            </section>
                
            
            <li><a href="">Premier projet en groupe.Il s'agit de la refonte du site de la salle de spectacle La Cigale à Paris</a></li>
            <section>
                <a href="https://la-cigale.netlify.app/"><p>accéder au site</p></a>
                <a href="https://github.com/97Lucaas/mmi2024-mellt"><p>Repository GitHub</p></a>
            </section>
        </ul>
    </section>
    <section class="listProjets">
        <div class=""> <h4> Programmation </h4></div>
        <ul>
            <li>quatrième projet</li>
            <li>cinquième projet</li>
            <li>sixième projet</li>
        </ul>
    </section>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique fuga quis nam cumque ipsum omnis, quasi, doloremque obcaecati mollitia suscipit, eligendi cupiditate. Laboriosam voluptatibus quo eos aut facere, ex dignissimos?
    Assumenda aliquid eum consequuntur necessitatibus consectetur cumque perferendis provident ex odit saepe deleniti amet, adipisci iure asperiores. Dicta nostrum odit neque, fugit blanditiis maiores dignissimos dolorum aliquid quibusdam esse temporibus?
    Officia necessitatibus mollitia alias soluta sit tempora, quod iusto cum facilis est accusantium repellat odio beatae iure corporis voluptatum ipsa quae ipsam optio molestias assumenda esse rem. Id, est iusto.
    Ipsum totam dolores nostrum quam numquam eligendi deserunt sequi vero labore ullam illum, qui, sed est quo omnis laborum distinctio, molestias blanditiis nesciunt adipisci repudiandae natus obcaecati sint? Itaque, officia!
    Asperiores et deserunt corrupti quos error unde. Nesciunt sint quibusdam deleniti nemo quam possimus sequi consequatur maxime iste doloremque similique cum molestiae cumque, aliquid voluptatibus eius esse. Animi, recusandae magnam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum neque, laudantium consequatur deleniti commodi officia delectus dignissimos optio mollitia cumque repellat nemo amet! Est omnis earum in tempore sequi obcaecati?
    Repudiandae hic, beatae placeat perferendis nostrum sed minus perspiciatis debitis repellat amet dignissimos assumenda ratione fugiat at natus vitae mollitia explicabo magnam commodi porro? Odit alias vitae minima aliquid ipsa.
    Saepe, a? Omnis, atque sint eum suscipit fugit ratione tenetur, consequatur aspernatur quibusdam aperiam expedita necessitatibus, accusamus iste explicabo enim natus dolores aliquid soluta itaque maiores veniam asperiores iure assumenda?</p>
</main>