<header id="header" class="test fixedBottom">
    <div class="heroSection" id="mail">
        <img src="/assets/image/mail.png" alt="linkedin" style="width: 40px;">
        <p>louis.lasserre@mmibordeaux.com</p> 
    </div>

    
    
    <div class="heroSection phone">
        
        <img src="assets/image/phone.png" alt="téléphone" style="width: 45px;">
        <p>06 15 60 70 07</p>
        
    </div>
    <div class="heroSection centre " id="btnSecond">
        
        
        <p id="">Revenir à l'accueil</p>
        <div class="CFleche" id="aboutArrow">&#x2190</div>
        
    </div>
    <a href="https://github.com/louisLasserre" class="heroSection"> <img src="assets/image/github.png" alt="GitHub" style="width: 40px;"> </a>

</header>

