<header id="header" class="test header-pin">
    <a href="" class="heroSection"> <img src="assets/image/insta.png" alt="insta" style="width: 60px;"> </a>
        <div class="heroSection"><img src="assets/image/linkedinblanc.png" alt="linkedin" style="width: 40px;"> </div>
        
        
        <div class="heroSection phone">
            
            <img src="assets/image/phone.png" alt="téléphone" style="width: 45px;">
            <p>06 15 60 70 07</p>
            
        </div>
        <div class="heroSection mail">
            
            <img src="assets/image/mail.png" alt="mail" style="width: 45px;">
            <p id="mail">louis.lasserre@mmibordeaux.com</p>
            
        </div>
    
    
</header>

