<main class="MainAboutMe">
    <section class="LeftRight">
        <article class="left">
            <img src="/assets/image/profil.jpg" alt="My profile Picture">

        </article>
        <article class="right">
            <H1>A propos de moi</H1>
            <p class="AboutMeText">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad esse odio repellendus sequi aperiam neque rem maxime reiciendis consequuntur aut fuga accusantium ipsum, doloremque, nostrum, quisquam saepe facere? Sunt, dicta!
            Quis nihil modi quibusdam. Earum tenetur dolorem officia rem nam minima. 
            </p>

            <p class="AboutMeText">Obcaecati voluptas minima reiciendis omnis quisquam eum! Nam saepe ratione earum vel itaque, cupiditate architecto eligendi praesentium temporibus repellat!
            Expedita vitae quidem dolorem ipsa facere similique maiores? Debitis, vitae. Hic, dolores, fugiat molestias id excepturi aspernatur labore inventore nulla molestiae ipsam a, unde at nesciunt quo quaerat distinctio nihil!</p>

            <p class="AboutMeText">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam facere voluptates maiores, dolores soluta ad autem pariatur, minus similique itaque voluptatum harum molestiae ipsam et, consequatur facilis quas illum ea?
            Asperiores, officia. Sit nesciunt culpa, dolorem itaque facere aspernatur assumenda sed vero consequatur nostrum accusantium consequuntur delectus nemo cum, alias, nam repellendus tenetur. Voluptatibus, iure fugit. Assumenda maxime repudiandae aperiam.</p>

        </article>

    </section>
    
    
    

</main>