.hero{
    width: 100vw;
    height: 100vh;
    padding-top: 50px;

    display: flex;
    text-align: center;
    justify-content: flex-start;
    color: $primary;

    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../../assets/image/persosite-3.jpg');

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    div{
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: space-around;
    }
    h1 {
        font-size: 4em;
        font-family: 'Zen Kurenaido', sans-serif;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    
        margin-bottom: 0.5em;
    
    }
    strong{
        color:#42a9e542;
        transition-duration: 0.4s;
    }
    h2 {
    
        width: 75vw;
        height: fit-content;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        
        line-height: 45px;
        transition-duration: 0.4s;

        color: rgba(255, 255, 255, 0.2);

        &:hover{
            color: $colorTextH;
        }
        &:hover strong{
            color: #42a9e5;
        }
        
    }
    

    .btnMe{
        display: block;
        width: 17vw;

        border: 3px solid white;
        border-radius: 8px;

        text-decoration: none;
        padding: 1em;

        margin: 0 auto;

        transition-duration: 0.3s;
        background-color: rgba(20, 20, 20, 0.904);
        color: white;

        &:hover{
            background-color: white;
            color: black;
            transform: scale(1.1);
        }
        

        
    }

}
@media screen and (max-width: 925px) {
    .hero{
        h2{
            color: $colorTextH !important;
        }
    }
}