.hero{
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    text-align: center;
    color: $primary;

    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url('../../assets/image/persosite.jpg');

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1 {
        font-size: 4em;
        font-family: 'Zen Kurenaido', sans-serif;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
    
        margin-bottom: 0.5em;
    
    }

    h2 {
    
        width: 75vw;
        height: 55vh;
        margin-left: auto;
        margin-right: auto;
        text-align: left;
        
        line-height: 45px;
        transition-duration: 0.4s;

        color: rgba(255, 255, 255, 0.2);

        &:hover{
            color: $colorTextH;
        }
        
        
    }
    

    .btnMe{
        display: block;
        width: 200px;

        border: 3px solid white;
        border-radius: 23px;

        text-decoration: none;
        padding: 1em;

        margin: 0 auto;

        transition-duration: 0.3s;
        background-color: black;
        color: white;

        &:hover{
            background-color: white;
            color: black;
            transform: scale(1.1);
        }
        

        
    }

}
@media screen and (max-width: 925px) {
    .hero{
        h2{
            color: $colorTextH !important;
        }
    }
}