main{
    background-color: $fondProjet;
    color: $colorText;
    padding: 15px;
    list-style-type: disc;
    font-size: 150%;
    margin: 20px 120px;

    p, li{
        margin: 0;
    }
    a{
        color: $colorText;
        &:hover{
            color: $colorText;

        }
        
    }


    ul{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0;
        margin: 5vh auto;
    }
    li ul{
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        text-align: center;
        
        li{
            padding: 15px;
            border: 2px solid $colorText;
            border-radius: 8px;
            display: flex;
            text-align: center;
            justify-content: center;

            width: 15vw;
            background-color: $fondProjet

        }
    }
    
}

