main{
    background-color: $fondProjet;
    color: $colorText;
    padding: 15px;
    list-style-type: disc;
    font-size: 150%;
    margin: 20px 120px;

    p, li{
        margin: 0;
    }
    a{
        color: $colorText;
        &:hover{
            color: $colorText;

        }
        
    }
    .listProjets{
        width: 80%;
        margin: 20px auto;

    }
    div{
        

        border-bottom: 2px solid blue;
        position: relative;
        
        h4{
            display: block;
            
            width: fit-content;
            
            height: 100%;
            // transform: translateX(-50%);
           
        }
    }


    ul{
        display: flex;
        flex-direction: column;
        
        padding: 0;
        
        list-style-type: disc;
        

        li {
           margin: 20px 0 20px 7vw;
           width: 100%;
           padding-right: 7vw;
            
        }

        section{
            margin: 30px auto;

            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            text-align: center;
            width: 80%;
            
            a{
                padding: 10px;
                border: 2px solid $colorText;
                border-radius: 8px;
                display: flex;
                text-align: center;
                justify-content: center;
    
                width: 15vw;
                background-color: $fondProjet;
                font-size: 16px;
                text-decoration: none;
    
                p{
                   
                    height: fit-content;
                    
                }
    
            }
        }

        
    }
    
    
}

