main{
    background-color: $fondProjet;
    color: $colorText;
    padding: 15px;
    list-style-type: disc;
    font-size: 150%;
    margin: 20px 120px;

    p, li{
        margin: 0;
    }
    a{
        color: $colorText;
        &:hover{
            color: $colorText;

        }
        
    }
    div{
        width: 100vw;
        
        p{
            display: block;
            width: fit-content;
            margin: 0 auto;
        }
    }


    ul{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding: 0;
        margin: 5vh auto;
        list-style-type: disc;

        li{
            section{
                margin: 30px auto;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                
                text-align: center;
                
                a{
                    padding: 15px;
                    border: 2px solid $colorText;
                    border-radius: 8px;
                    display: flex;
                    text-align: center;
                    justify-content: center;
        
                    width: 15vw;
                    background-color: $fondProjet;
        
                    p{
                       
                        height: fit-content;
                    }
        
                }
            }

        }
    }
    
    
}

