<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <meta content="Théâtre, comédie, concert : découvrez la salle La Cigale dans le 18ème arrondissement de Paris">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');
    </style>
    
    <link rel="stylesheet" href="{{ "/assets/css/bootstrap.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    
    
  </head>
  <body>
    {{ content }}
    
  </body>
</html>
