html {
    font-family: 'Outfit', sans-serif;

    h1{
        font-family: 'Zen Kurenaido', sans-serif; 
    }
}

body {
    color: $primary;
    background-color: $fondProjet;
}
h1{font-size: 76px;}
h2{font-size: 35px;}
h3{font-size: 50px;}
h4{font-size: 31px;}
h5{font-size: 20px;}
h6{font-size: 13px;}

@media screen and (max-width: 959px) {
    h2{font-size: 30px;}
}
@media screen and (max-width: 720px) {
    h2{
        font-size: 20px;
        line-height: 30px !important;
    }

}

.pagedeux{
    background-color: #dedede !important;
}